.sidebar-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 500px;
    padding: 0px 16px;
    gap: 16px;
    overflow-y: auto;
    position: relative;
    z-index: 1100;
}

.header { overflow: hidden; }


.sidebar-left h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.sidebar-left label {
  font-size: 1.0rem;
  margin-top: 12px;
  margin-bottom: 4px;
}

.location-row {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  margin-bottom: 16px;
  width: 100%;
  flex-wrap: nowrap;
}

.location-col {
  flex: 2 1 60%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.radius-col {
  flex: 1 1 20%;
  min-width: 80px;
  display: flex;
  flex-direction: column;
  max-width: 30%;
  padding-right: 4px;
  padding-left: 20px;
}

.sidebar-left input,
.sidebar-left select {
  padding: 12px 14px;
  font-size: 0.85rem;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  outline: none;
  width: 100%;
}


.main-search-wrapper {
  margin-top: 24px;
  padding-top: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

#filters-panel > h3,
#filters-panel > h4 {
  margin-bottom: 8px;
}

.input-row {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 4px;
}

.sidebar-left { padding-top: 0px; position: relative; }
.sidebar-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -30px 0px 0px 70px;
}
.sidebar-logo a{ display:inline-block; }
.sidebar-logo img{
  width: 80%;
  max-width: 300px;
  height: auto;
  object-fit: contain;
}


