{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}Mapa ośrodków wsparcia dla kobiet doświadczających
      przemocy{% endblock %}
    </title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/favicon.ico' %}"
    />

    <!-- Zewnętrzne CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- Własny CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidebar_left.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sidebar_right.css' %}" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="header-right-extension"></div>

    <div class="main-content">
      <div class="top-bar">
        <button
          class="toggle-results-btn button--text button--teal"
          onclick="toggleResults()"
        >
          Pokaż wyniki
        </button>
      </div>

      <aside class="sidebar-left-container">
        <div class="sidebar-left">{% block left_sidebar %}{% endblock %}</div>
      </aside>

      <main>
        {% block map %}
        <section class="map-wrap">
          <div id="map"></div>
        </section>
        {% endblock %}
      </main>

      {% block right_sidebar %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
  </body>
</html>
