{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mapa wsparcia dla kobiet{% endblock %}</title>

    <!-- Zewnętrzne CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">


    <!-- Własny CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block head %}{% endblock %}
</head>
<body>


    <!-- Nagłówek -->
    <header class="bg-purple-700 text-white flex justify-between items-center px-6 py-4 shadow-md">
        <h1 class="text-xl font-bold">Mapa Instytucji Wsparcia Dla Kobiet</h1>
            <div class="text-sm sm:text-base font-medium">
            📞 SOS Bezpieczna Linia: <span class="font-bold">800 XXX XXX</span>
            </div>
    </header>

    <!-- Nawigacja (opcjonalna) -->
    <nav></nav>

    <!-- Główna zawartość -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Stopka -->
    <footer class="bg-gray-100 text-center text-sm text-gray-600 py-4 border-t mt-2">
      <div class="flex flex-col sm:flex-row items-center justify-between px-4">
        <p>Mapa powstała dzięki wsparciu Ambasady Francji i Szwajcarii</p>
        <p>© 2025 Czas Kobiet. Wszystkie prawa zastrzeżone.</p>
        <div class="flex gap-2 mt-2 sm:mt-0">
          <img src="/static/logo_fr.png" alt="Logo Francji" class="h-6">
          <img src="/static/logo_ch.png" alt="Logo Szwajcarii" class="h-6">
        </div>
      </div>
    </footer>

    <!-- Skrypty JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
